
.DS_Store
*.swp
*.lock
.idea/
.vscode/
*.iml
.history/


node_modules/


dist/
out/


*.sqlite
*.sqlite-journal
*.db
*.db-journal

logs/
*.log
npm-debug.log*
.env


build/
.dart_tool/
.packages
.pub-cache/
.pub/

.gradle/
local.properties
*.keystore
*.jks
*.apk
*.aab

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
Frameworks/

.web/


temp/
screenshots/*.png
!screenshots/final_mockup.png