# ==========================================
# RideLog 
# ==========================================

# --- Allgemeines & IDEs ---
.DS_Store
*.swp
*.lock
.idea/
.vscode/
*.iml
.history/

# --- Express Backend (Node.js/TypeScript) ---
# Abhängigkeiten 
node_modules/

# Kompilierter Code 
dist/
out/

# Datenbanken (SQLite) 
*.sqlite
*.sqlite-journal
*.db
*.db-journal

# Logs & Umgebungsvariablen
logs/
*.log
npm-debug.log*
.env

# --- Flutter Frontend ---
# Build-Dateien 
build/
.dart_tool/
.packages
.pub-cache/
.pub/

# Android-spezifisch
.gradle/
local.properties
*.keystore
*.jks
*.apk
*.aab

# iOS-spezifisch
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
Frameworks/

# Web-spezifisch
.web/

